*{
  box-sizing: border-box;

}


.SomeProjects{
  background-color: rgb(20, 45, 90);
  color: white;
  padding: 20px 30px;
  position: relative;
  top: 80px;
}


.ProjectImg{
  display: inline-block;
  padding: 20px 30px;
  color: white;
}


.ProjectImg img{
  width: 500px;
  height: auto;
}

.ProjectImg h4{
  text-transform: uppercase;
}
