*{
  box-sizing: border-box;

}


.SomeProjects{
  background-color: rgb(20, 45, 90);
  color: white;
  padding: 20px 30px;
  position: relative;
  top: 80px;
}

/* 
.ProjectImg{
  display: inline-block;
  padding: 20px 30px;
  color: white;
}


.ProjectImg img{
  width: 500px;
  height: auto;
}

.ProjectImg h4{
  text-transform: uppercase;
} */




.carousel {
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.imageContainer {
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.nextButton{
  display: inline-block;
  

}
.prevButton{
  display: inline-block;

}
.prevImage,
.nextImage {
  opacity: 0.5;
  width: 200px;
  height: auto;
  z-index: 1;
}

.activeImage {
  z-index: 2;
  width: 800px;
  height: auto;
  display: inline-block
}

