*{
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .header {
    text-transform: uppercase;
    text-align: right;
    padding-right: 20px;
    color:white;
    background-color: rgba(15, 47, 105, 0.2);
    position: fixed;
    width: 100%;
    z-index: 10;
  }


  .header a {
    color: #ffffff;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    margin: 5px 10px;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
  }

  .header a:hover {
    color: #636060;
  }
  