.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.Description {
  font-size: 30px;
  padding: 50px 200px;
  position: relative;
  top: 80px;
}

.DownloadButton {
  background-color: rgb(24, 53, 107);
  border-radius: 3px;
  color: white;
  font-family: 'Yantramanav', sans-serif;
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  margin-top: 40px;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}








.carousel {
  position: relative;
  overflow: hidden;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prevImage,
.nextImage {
  opacity: 0.5;
  transform: scale(0.8);
  z-index: 1;
}

.activeImage {
  z-index: 2;
  flex: 1;
}